.splash_preview{
    width: 100%;
    height: 500px;
    position: relative;
    border: 4px solid black;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}   

.dark .mode.light-img {
    display:none
}
.dark .mode.dark-img {
    display:block
}
.dark #loading-center { 
    background-image: url(../images/dark-loader.gif)
}
